body {
  width: 100%;

}

wrapper {
  width: auto;
}

nav {
  width: 100%;
  display: flex;
}

h1 {
  text-align: center;
}

span {
  width: 100%;
}

text-nav {
  font-family: cursive;

}


text_number {}

h1 {}


@media screen and (max-width: 700px) {
  body {}


  nav {
    min-height: 100%;
    position: relative;
    background-color: #343a40;
    justify-content: space-between;
    margin-left: -5px;
    margin-top: -5px;
  }

  h1 {}

  p.text-menu {
    color: white;
    font-weight: 500;
    font-size: 30px;
    font-family: 'cursive';
    align-items: center;
    white-space: nowrap;
    line-height: inherit;
    margin-left: 30px;

  }

  text-number {}

  .text_underline {
    margin-left: 20px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px grey;
    margin-left: 20px;
    font-size: 12px;
    margin-inline: 30px;


  }


  style-input {}

  input {
    padding-left: 70px;
    color: lightblue;
    border: 5px solid;
    margin-inline: 30px;
    font-size: 15px;
    background-color: field;
  }

  p.box-type {}

  .btn {
    width: 150px;
    background-color: aqua;
    transition-duration: 0.4s;
    text-decoration: aliceblue;
    margin-left: 100px;
  }

  .button:hover {
    background-color: #4CAF50;
    color: white;
  }

}