html {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐁</text></svg>") 16 0,auto; /*!emojicursor.app*/
    height: 100%;
}

body {
    background-color: #3b444b;
}

h2 {
    font-family: 'Verdana';
    color: aliceblue;
    text-align: center;
}
.cat {
    scale: 250%;
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.5s;	
}